nav {
    background-color: #3c3333;
}

@media (min-width: 1200px) {

    .e {
        max-width: 1200px;
    }
}


/*
 * about
 */
.about-section {
  padding-top: 80px;
  background-color: #F4EFD2;
}
.about-section h2 {
  font-size: 30px;
}

.about-section p {
  font-size: 16px;
  margin: 0;
}


.container {
}

.team-container {


}

.team {
    width: 50%;
    max-width: 420px;
    margin: 10px 0;
}

.team img {
    max-width: 150px;
    border-radius: 32px;
}

main.terms-section {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #F4EFD2;
}

.terms-container p {
    font-size: 18px;
    color: #5D5D5D;
}