{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container about-container">

    <h2>About LabelFree</h2>
      <br>
      <p><i><a href="https://instagram.com/liilii_insta">Hirofumi Kobayashi</a></i></p>
      <p>Hirofumi has developed the program to analyze cells with label-free images during his PhD studies in the University of Tokyo.</p>
      <br>
      <p><i><a href="https://instagram.com/easyandme">Max Xu</a></i></p>
      <p>Max has been tinkering with the web for more than three years. Currently He is a software enginner at Juniper Networks.</p>
    </div>
  </main>
{% endblock %}