{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">


    <div class="sample startup" style="background-image: url({{ url_for('static', filename='img/startup.jpg') }})">
        <div class="tc">

            <div class="sample-text-container e">
                <div class="sample-text">
                    <h1>Analytics on cells</h1>
                    <h2><span class="sample-type">no Staining or Labeling needed.</span></h2>
                    <p>Stop installing bloated applications that's hard to use. We process cell images for you to analyze.</p>
                    <button class="btn red lighten-2" id="run_sample"><i class="material-icons left">done</i>Run Our Sample</button>
                    <button class="btn" id="upload_btn"><i class="material-icons left">cloud_upload</i>Upload Your Data</button>
                </div>
                <div class="sample-result">

                    <div class="gps_ring" hidden></div>
                    <div class="undrugged-container">
                        <h5>Normal culture</h5>
                        <figure>
                            <img alt="0nm" src="{{ url_for('static', filename='img/0nm.png') }}" />
                            <figcaption>0nm</figcaption>
                        </figure>
                        <i class="material-icons center">add</i>
                    </div>

                    <div class="drugged-container">
                            <h5>Drug treated for ~24h</h5>
                            <div class="line" style="background-image: url({{ url_for('static', filename='img/line1.png')}})">

                            <figure class="drugged">
                                <img alt="1nm" src="{{ url_for('static', filename='img/1nm.png') }}" />
                                <figcaption>1nm</figcaption>
                            </figure>
                            <figure class="drugged">
                                <img alt="10nm" src="{{ url_for('static', filename='img/10nm.png') }}" />
                                <figcaption>10nm</figcaption>
                            </figure>
                            <figure class="drugged">
                                <img alt="100nm" src="{{ url_for('static', filename='img/100nm.png') }}" />
                                <figcaption>100nm</figcaption>
                            </figure>
                            <figure class="drugged">
                                 <img alt="1µm" src="{{ url_for('static', filename='img/1um.png') }}" />
                                <figcaption>1µm</figcaption>
                            </figure>
                            <figure class="drugged">
                                <img alt="10µm" src="{{ url_for('static', filename='img/10um.png') }}" />
                                <figcaption>10µm</figcaption>
                            </figure>
                            </div>
                           <i class="material-icons center">arrow_downward</i>
                    </div>
                    <div class="microscope">
                            <figure class="microscope-img">
                                <img src="{{ url_for('static', filename='img/microscope.png')}}" alt="microscope">
                            </figure>
                            <div class="micro-text">
                                <h5>Taking pictures</h5>
                                <p>* No staining/labeling needed!</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

      <div class="section-content custom-upload">

    <h4>Upload cell images for us to process.</h4>

          <div class="input-field label-num">
              <select id="label_num">
                  <option value="" disabled selected>Choose number of labels</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
              </select>
              <label>Choose number of labels </label>
          </div>

          <div id="form-container"></div>

          <div class="preloader-wrapper small hidden">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    <!--<form action="render" method="post" enctype="multipart/form-data">-->
          <!--&lt;!&ndash;<input type="file" id="file" name="image" accept='image/*' multiple>&ndash;&gt;-->
          <!--&lt;!&ndash;<input class="btn btn-success" id="process" type="submit" value="Process">&ndash;&gt;-->
    <!--</form>-->

    <p class="warning">* Please upload <b>square</b> images</p>

      </div>
    </div>
  </main>
{% endblock %}