{% extends "layout.html" %}

{% block content %}
  <main class="terms-section">
    <div class="container terms-container">

        <h4>Privacy Policy</h4>
        <br>
        <div class="terms-container">
            <p>By accessing or using this site, you agree to be bound by this agreement. Your use of the site indicates that you accept the terms spelled out in this document.</p>
            <br>
            <h5>Site content</h5>
            <p>The information including in this site is meant for research purposes only, not as a replacement for or supplement to standard instruction. We do not guarantee the accuracy of any information included on the site, nor do we guarantee the accuracy of the information included in any of the sites we link to. We are not responsible for any ads that may appear on the site via error or malware viruses.</p>
            <br>
            <h5>Copyright</h5>
            <p>All materials on this site, with the exception of temporary content uploaded by users, as well as the organization, layout and code of this site, are owned and copyrighted by the website owner and may be accessed or printed for non-commercial use only. Without the prior written permission of the website owner, you may not copy, distribute or transfer any material on the site, in whole or in part.</p>
            <br>
            <h5>Terms of Service</h5>
            <p>This terms of service is effective as of 3/28/2018. Changes to this terms of service will be posted here. We will not be actively contacting you with updates, so please check back frequently for any changes.</p>

        </div>
    </div>
  </main>
{% endblock %}