{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">
        <br>
    <h4 >The file you just uploaded was not a <span class="warning"><u>square image</u></span> or not supported.</h4>
        <br>
     <a href="/"> <button class="btn btn-default">Return</button></a>
        <br>
        <br>

        {% if err %}
        <div>
            <h5>Error message (for label free dev only): </h5>
            <pre>{{ err }}</pre>
        </div>

        {% endif %}
    </div>
  </main>
{% endblock %}